.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px)
    0px clamp(70px, calc(70px + (55 * ((100vw - 320px) / 1120))), 125px);
}
.MainConatiner {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: clamp(30px, calc(30px + (246 * ((100vw - 320px) / 1120))), 276px);

  width: 100%;
  height: 100%;
  align-items: center;
}
.Left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 30px;
}
.LeftTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}
.LeftTop h3 {
  font-family: var(--lexend);
  font-size: var(--fs-22);
  color: var(--heads-color);
  font-weight: var(--lexend-heading-font-weight);
  text-transform: uppercase;
}

.LeftTop p {
  font-family: var(--lato);
  font-size: var(--fs-15);
  color: var(--body-color);
  font-weight: var(--lato-font-weight);
}

.LeftBottom {
  display: flex;
  width: 100%;
}
.JoinBtn {
  padding: 13px 25px;
  background-color: var(--primary-color);
  border: none;
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--white-color);
  cursor: pointer;
}
.Right {
  display: flex;
  gap: 10px;
  height: clamp(200px, calc(200px + (300 * ((100vw - 320px) / 1120))), 500px);
}

.imageWrap {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: width 0.6s ease-in-out;
}

.active {
  width: clamp(266px, calc(266px + (402 * ((100vw - 320px) / 1120))), 668px);
}

.inactive {
  width: clamp(40px, calc(40px + (50 * ((100vw - 320px) / 1120))), 90px);
}

.imageWrap img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .main {
    padding: 0px 24px 0px 24px;
    
    /* padding-left: 70px;
    padding-right: 70px; */
  }
  .MainConatiner {
    flex-direction: column;
    gap: 30px;
  }
  .Left {
    gap: 30px;
  }
  /* .Left h3 {
    font-size: 20px;
  }
  .Left p {
    font-size: 15px;
  } */
  .active {
    width: 266px;
  }
  .inactive {
    width: 40px;
  }
  /* .JoinBtn {
    font-size: 14px;
  } */
  .Right {
    width: 100%;
  }
}
@media (min-width: 641px) and (max-width: 1440px) {
  .MainConatiner {
    flex-direction: column;
    gap: 30px;
    align-items: baseline;
  }
  .Left {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1441px) and (max-width: 1720px) {
  .MainConatiner {
    gap: 30px;
  }
}
