.sectionWrapper {
  width: 100%;
  padding: 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

  box-sizing: border-box;
  background: #ffffff;
}

.title {
  color: var(--heads-color);
  font-size: var(--fs-22);
  font-weight: var(--lexend-heading-font-weight);
  font-family: var(--lexend);
  margin:
    clamp(0px, calc(0px + (6 * ((100vw - 320px) / 1120))), 6px) 0 clamp(30px, calc(30px + (50 * ((100vw - 320px) / 1120))), 60px) clamp(0px, calc(0px + (8 * ((100vw - 320px) / 1120))), 8px);

  text-transform: uppercase;
}

.mapWrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  min-height: 220px;

  height: 360px;
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  filter: none;
}

.infoTitle {
  font-size: var(--fs-15);
  color: var(--heads-color);
  font-family: var(--lato);
  font-weight: var(--lato-bold-font-weight);
  /* Assuming 700 is your bold variant */
  line-height: 1.2;
}

.directionsBtn {
  display: inline-block;
  text-decoration: none;
  font-size: var(--fs-15);
  padding: 7px 30px;
  background: var(--primary-color);
  color: var(--white-color);
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  letter-spacing: 0;
}

@media (max-width: 900px) {
  .mapWrapper {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .sectionWrapper {
    padding: 0px 24px 0px 24px;
  }

  .title {
    margin-left: 4px;
  }

  .mapWrapper {
    height: 220px;
  }

  .infoTitle {
    font-size: 12px;
  }

  .directionsBtn {
    font-size: 11px;
    padding: 6px 10px;
  }
}