.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px) 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);
}

.MainConatiner {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: clamp(30px, calc(30px + (45 * ((100vw - 320px) / 1120))), 75px);
  width: 100%;
  height: 100%;
}

.Top {
  display: flex;
  justify-content: left;
}

.Top h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  color: var(--heads-color);
  font-weight: var(--lexend-heading-font-weight);
  text-transform: uppercase;
}

.Botttom {
  display: flex;
  justify-content: left;
}

.One {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 100%;
  max-width: 554px;
  max-height: 748px;
  gap: clamp(60px, calc(60px + (60 * ((100vw - 320px) / 1120))), 120px);

  padding: clamp(17px, calc(17px + (15 * ((100vw - 320px) / 1120))), 32px) clamp(17px, calc(17px + (11 * ((100vw - 320px) / 1120))), 28px) clamp(17px, calc(17px + (15 * ((100vw - 320px) / 1120))), 32px) clamp(17px, calc(17px + (9 * ((100vw - 320px) / 1120))), 26px);

  border: 1px solid var(--line-color);
  transition: all 0.2s ease-in-out;
}

.One:hover {
  cursor: pointer;
}

.One:hover img {
  transform: scale(1.08);
}

.OneTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: clamp(15px, calc(15px + (15 * ((100vw - 320px) / 1120))), 30px);
  height: 30%;
}

.OneTopTop {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: clamp(10px, calc(10px + (5 * ((100vw - 320px) / 1120))), 15px);
}

.OneTopTop h4 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  color: var(--primary-color);
  font-weight: var(--lexend-heading-font-weight);
  white-space: nowrap;
  text-transform: uppercase;
}

.OneTopBottom {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 16px;
}

.arrowextra svg {
  width: 10px;
  height: 10px;
  margin: 0;
  margin-top: 2px;
}

.arrowextra {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.arrowextra h5 {
  font-size: var(--fs-15);
  font-family: var(--lato);
  color: var(--body-color);
  font-weight: var(--lato-font-weight);
  text-decoration: underline;
  cursor: pointer;
}

.OneTopBottom p {
  font-size: var(--fs-15);
  font-weight: var(--lato-font-weight);
  width: 70%;
  color: var(--body-color);
  font-family: var(--lato);
}

.OneBottom {
  display: flex;
  justify-content: left;
  overflow: hidden;
  height: 70%;
}

.OneBottom img,
.TwoBottom img,
.ThreeBottom img {
  max-width: 500px;
  /* Allows them to get larger on desktop */
  max-height: 450px;
  /* Increased height for desktop balance */
  /* Optional: adds a cleaner desktop look */
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 640px) {
  .main {
    padding: 0px 24px 0px 24px;
  }

  .MainConatiner {
    gap: 30px;
  }

  .Top h3 {
    font-size: 20px;
  }

  .Botttom {
    flex-direction: column;
    gap: 30px;
  }

  .One,
  .Two,
  .Three {
    padding: 17px 17px 17px 17px;
    gap: 60px;
  }

  .OneTopTop h4,
  .TwoTopTop h4,
  .ThreeTopTop h4 {
    font-size: 20px;
  }

  .OneTopBottom p,
  .TwoTopBottom p,
  .ThreeTopBottom p {
    width: 85%;
    font-size: 15px;
  }

  .OneBottom img,
  .TwoBottom img,
  .ThreeBottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 320px; */
    max-height: 288px;
  }
}
@media (min-width: 921px) and (max-width: 1800px) {
  .Botttom {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}
}
@media (min-width: 641px) and (max-width: 920px) {
  .MainConatiner {
    gap: 30px;
  }

  .Top h3 {
    font-size: 20px;
  }

  .Botttom {
    flex-direction: column;
    gap: 30px;
  }

  .One,
  .Two,
  .Three {
    padding: 17px 17px 17px 17px;
    gap: 60px;
  }

  .OneTopTop h4,
  .TwoTopTop h4,
  .ThreeTopTop h4 {
    font-size: 20px;
  }

  .arrowextra p,
  .TwoTopBottom p,
  .ThreeTopBottom p {
    width: 85%;
    font-size: 15px;
  }

  .OneBottom img,
  .TwoBottom img,
  .ThreeBottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 320px; */
    max-height: 288px;
  }
}