.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);

  /* padding-top: 150px; */
  padding-left: clamp(24px,
      calc(24px + (101 * ((100vw - 320px) / 1120))),
      125px);
  padding-right: clamp(24px,
      calc(24px + (101 * ((100vw - 320px) / 1120))),
      125px);
}

.MainContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: clamp(60px, calc(60px + (137 * ((100vw - 320px) / 1120))), 197px);
  align-items: center;
}

.left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  max-width: 302px;
}

.left h3 {
  font-family: var(--lexend);
  font-weight: var(--lexend-heading-font-weight);
  font-size: var(--fs-22);
  color: var(--heads-color);
  text-transform: uppercase;
}

.left p {
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--body-color);
}

.right {
  display: flex;
  justify-content: left;

  flex-direction: row;
  gap: 60px;
}

.Card {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  gap: 30px;
  border: 1px solid var(--primary-color);
  position: relative;
}

.CardImageContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 30px;
  padding-left: 33px;
  padding-right: 33px;
  position: absolute;
  top: -50px;
  left: 0;
  align-items: last baseline;
}

.CardTwoImageContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 30px;
  padding-left: 33px;
  padding-right: 33px;
  position: absolute;
  top: -50px;
  left: 0;
  align-items: last baseline;
}

.CardThreeImageContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 30px;
  padding-left: 33px;
  padding-right: 33px;
  position: absolute;
  top: -30px;
  left: 0;
  align-items: last baseline;
}

.CardImage img {
  width: 100%;
  height: 100%;
  max-width: 143px;
  max-height: 152px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.CardImagetwo img {
  width: 100%;
  height: 100%;
  max-width: 214px;
  max-height: 152px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.CardImageThree img {
  width: 100%;
  height: 100%;
  max-width: 214px;
  max-height: 152px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.DealBadge {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1px;
}

.DealBadge h4 {
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--body-color);
  margin: 0;
}

.DealBadge h5 {
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--body-color);
  margin: 0;
}

.DealBadge h2 {
  font-family: var(--lexend);
  font-weight: var(--lexend-heading-font-weight);
  font-size: var(--fs-22);
  color: var(--red-color);
  margin: 0;
}

.CardContent {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 154px;
  border: 1px solid var(--primary-color);
}

.Card:hover .CardImage img,
.Card:hover .CardImagetwo img,
.Card:hover .CardImageThree img {
  transform: scale(1.1);
  cursor: pointer;
}

.CardThreeContent {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 154px;
  border: 1px solid var(--primary-color);
}

.CardContentTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
}

.CardContentTopTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  padding-left: 36px;
  padding-right: 40px;
}

.CardContentTopTop h3 {
  font-family: var(--lexend);
  font-weight: var(--lexend-heading-font-weight);
  font-size: var(--fs-22);
  color: var(--heads-color);
  white-space: nowrap;
  text-transform: uppercase;
}

.CardContentTopTop p {
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--body-color);
}

.CardContentTopBottom {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
  padding: 26px 23px 26px 24px;
  background-color: var(--primary-color);
}

.heading h4 {
  font-family: var(--lato);
  font-weight: var(--lato-bold-font-weight);
  font-size: var(--fs-15);
  color: var(--white-color);
  margin: 0;
}

.benefits {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 5px;
}

.benefitItem {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 11px;
}

.benefitItem p {
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  font-size: var(--fs-15);
  color: var(--white-color);
  margin: 0;
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}

.CardContentBottom button {
  background: var(--heads-color);
  color: var(--white-color);
  border: none;
  padding: 13.5px 30px;

  width: 100%;
  font-size: var(--fs-15);
  font-weight: var(--lato-bold-font-weight);
  font-family: var(--lato);
  cursor: pointer;
}

@media (max-width: 700px) {
  .MainContainer {
    flex-direction: column;
    gap: 60px;
    align-items: baseline;
  }

  .right {
    flex-direction: column;
    gap: 60px;
  }

  .main {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
  }

  .CardImage img {
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 230px;
    object-fit: contain;
  }

  .CardImagetwo img {
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 230px;
    object-fit: contain;
  }

  .CardImageThree img {
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 230px;
    object-fit: contain;
  }

  .CardImageContainer {
    position: absolute;
    top: -30px;
    left: 0;
  }

  .CardTwoImageContainer {
    position: absolute;
    top: -40px;
    left: 0;
  }

  .CardThreeImageContainer {
    position: absolute;
    top: -30px;
    left: 0;
  }

  .CardThreeContent {
    padding-top: 100px;
  }

  .left {
    justify-content: left;
    align-items: baseline;
  }

  /* .left h3 {
    font-size: 20px;
  }

  .left p {
    font-size: 15px;
  } */

  .benefitItem p {
    font-size: 14px;
    white-space: normal;
  }

  .CardContentTopTop {
    padding-left: 20px;
    padding-right: 20px;
  }

  .CardContentTopBottom {
    padding: 20px 15px 20px 15px;
  }
  .Card {
  max-width: 100%;
  width: 100%;
}
}

@media (max-width: 1440px) and (min-width: 701px) {
  .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 10px;
  }

  .main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Card {
    max-width: 100%;
  }

  .MainContainer {
    flex-direction: column;
    gap: 180px;
    align-items: baseline;
  }

  .CardImageContainer {
    position: absolute;
    top: -10px;
    left: 0;
  }

  .CardTwoImageContainer {
    position: absolute;
    top: -20px;
    left: 0;
  }

  .CardThreeImageContainer {
    position: absolute;
    top: -40px;
    left: 0;
  }
}

@media (min-width: 1441px) and (max-width: 1890px) {
  .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 30px;
  }

  .Card {
    max-width: 100%;
  }

  .MainContainer {
    flex-direction: column;
    gap: 180px;
    align-items: baseline;
  }

  .CardImageContainer {
    position: absolute;
    top: -40px;
    left: 0;
  }

  .CardTwoImageContainer {
    position: absolute;
    top: -40px;
    left: 0;
  }

  .CardThreeImageContainer {
    position: absolute;
    top: -40px;
    left: 0;
  }
}

/* @media (min-width: 641px) and (max-width: 810px) {
  .Card {
    max-width: 340px;
  }
} */