.Main {
  width: 100%;
  height: 100vh;
  padding-top: clamp(80px, 6.25vw + 60px, 150px);
  padding-bottom: clamp(
    30px,
    calc(30px + (98 * ((100vw - 320px) / 1120))),
    128px
  );

  position: relative;
  overflow: hidden;
}

.Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: end;
  object-fit: cover;
  z-index: -1;
}

.Overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  z-index: 1;
}

.Marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.Marquee h2 {
  display: inline-block;
  font-size: var(--fs-120);
  font-family: var(--lexend);
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.BottomText {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 12px;
}

.BottomText h4 {
  font-size: var(--fs-22);
  color: var(--white-color);
  font-weight: var(--lexend-heading-font-weight);
  font-family: var(--lexend);
  text-transform: uppercase;
}
.BottomText p {
  width: 40%;
  font-size: var(--fs-15);
  color: var(--white-color);
  font-weight: var(--lato-font-weight);
  font-family: var(--lato);
}
.Content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: clamp(
    24px,
    calc(24px + (102 * ((100vw - 320px) / 1120))),
    126px
  );

  gap: 30px;
}
.Explore {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.Explore h4 {
  color: var(--white-color);
  font-weight: var(--lexend-heading-font-weight);
  font-size: var(--fs-22);
  font-family: var(--lexend);
  text-transform: uppercase;
}
/* Use :local if it's a module, or just ensure the nesting is correct */

.Explore {
    cursor: pointer;
    display: flex; /* Helps align the text and icon nicely */
    align-items: center;
    gap: 10px;
}

/* 1. The Text Underline */
.Explore:hover h4 {
    text-decoration: underline;
}

/* 2. The Initial SVG State */
.Explore svg path {
    transform: rotate(-45deg);
    /* Essential: ensures it rotates around the middle of the icon */
    transform-origin: center; 
    transition: transform 0.3s ease;
}

/* 2. When the parent container is hovered... */
.Explore:hover svg path {
    transform: rotate(0deg);
}
/* .Explore:hover .MiddleConatinerBottomRight {
    background-color: #f9f9f9;
} */
@media (max-width: 640px) {
  /* .Marquee h2 {
    font-size: 64px;
  }
  .Explore h4 {
    font-size: 20px;
  }
  .BottomText p {
    width: 70%;
    font-size: 14px;
  } */
  .Content {
    padding-left: 24px;
  }
  .Main {
    padding-top: 47px;
    padding-bottom: 30px;
    height: 88vh;
  }
}
