.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

  background-color: var(--white-color);
}

.MainContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  gap: clamp(30px, calc(30px + (50 * ((100vw - 320px) / 1120))), 180px);

  align-items: center;
}

.LeftConatiner {
  display: flex;
  justify-content: left;
  width: 100%;
}

.LeftConatiner img {
  width: 100%;
  height: 100%;
  max-width: 890px;
  min-width: 890px;
  max-height: 800px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.whatsappIcon {
  transition: transform 0.2s ease;
}

.whatsappIcon:hover {
  transform: scale(1.10);
}

@media (max-width: 640px) {
  .MainContainer {
    flex-direction: column;
    gap: 30px;
  }

  .main {
    padding: 0px 24px 0px 24px;
  }

  .LeftConatiner img {

    min-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .MainContainer {
    gap: clamp(20px, 5vw, 60px);
  }

  .LeftConatiner,
  .RightContainer {
    width: 100%;
  }

  .LeftConatiner img {
    max-width: 100%;
    max-height: 500px;
    min-width: 100%;
    width: 100%;
  }

  .RightContainer {
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0px 24px 0px 24px;
  }

  .LeftConatiner img {
    max-height: 320px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }

  .RightContainer {
    gap: 18px;
  }

  .MainContainer {
    gap: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .LeftConatiner img {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1441px) and (max-width: 1850px) {
  .LeftConatiner img {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}