.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px) 0px clamp(24px, calc(24px + (101 * ((100vw - 320px) / 1120))), 125px);

  background-color: var(--white-color);
}

.MainContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  gap: clamp(30px, calc(30px + (45 * ((100vw - 320px) / 1120))), 60px);
}

.Top {
  display: flex;
  justify-content: left;
}

.Top h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  font-weight: var(--lexend-heading-font-weight);
  color: var(--heads-color);
  text-transform: uppercase;
}

.Bottom {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.Card {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: clamp(30px, calc(30px + (45 * ((100vw - 320px) / 1120))), 32px);
  width: 100%;
  max-width: 416px;
  min-height: 410px;
  max-height: 410px;
  height: 100%;
  padding: 6px 6px 63px 6px;
  border: 1px solid var(--line-color);
}

.ImageContainer {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 405px;
  max-height: 195px;
  width: 100%;
}

.ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.5s ease-in-out;
}

/* INTERACTIVE: Zoom on Hover */
.ImageContainer:hover img {
  transform: scale(1.1);
}

.TextContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  padding-left: 38.5px;
  width: 70%;
}

.TextContainer h3 {
  font-size: var(--fs-22);
  font-family: var(--lexend);
  font-weight: var(--lexend-heading-font-weight);
  color: var(--body-color);
  text-transform: uppercase;
}

.TextContainer p {
  font-size: var(--fs-15);
  font-family: var(--lato);
  font-weight: var(--lato-font-weight);
  color: var(--body-color);
  line-height: 100%;
}

@media (max-width: 640px) {
  .Main {
    padding: 0px 24px 0px 24px;
  }

  .MainContainer {
    gap: 30px;
  }

  /* .Top h3 {
    font-size: 20px;
  } */

  .Bottom {
    flex-direction: column;
    gap: 30px;
  }

  .Card {
    min-height: 375px;
    width: 100%;
    height: 100%;
    gap: 30px;
  }

  .TextContainer {
    padding-left: 0px;
    gap: 15px;
    width: 100%;
  }

  .TextContainer h3 {
    font-size: var(--fs-20);
    color: var(--body-color);
  }

  .TextContainer p {
    font-size: var(--fs-14);
  }
}

@media (min-width: 641px) and (max-width: 920px) {
  .TextContainer {
    padding-left: 0px;
  }

  .TextContainer h3 {
    font-size: var(--fs-18);
    color: var(--body-color);
  }

  .Main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .ImageContainer img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    min-height: 120px;
  }
}

@media (min-width: 921px) and (max-width: 1440px) {
  .TextContainer {
    padding-left: 0px;
  }

  .TextContainer h3 {
    font-size: var(--fs-18);
    color: var(--body-color);
  }

  .Main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .ImageContainer img {
    width: 100%;
    height: 100%;
    min-height: 180px;
  }
}